body {
    font-family: 'Dorsa', sans-serif;
}

ul{
    padding: 0px;
}

li {
    padding: 16px;
    border-bottom: 1px solid black;
    font-family: 'Dorsa', sans-serif;
}

li:hover {
    background-color: black;
}

.navlinks {
    background-color: olivedrab;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.imagebanner{
    background-image: url("pasted image 0.png");
    padding: 50px 0;
    background-size: cover;
}

h2 {
    text-align: center;
    color: white;
    background-color: black;
}

.introduction {
    text-align: center;
    color: grey;
    font-size: 1.5rem;
}

img {
    width: 200px;
    height: 200px;
}

.ourgames {
    text-align: center;
    margin: 32px;
}

.introduction {
    font-family: 'Luxurious Script', cursive;
}

@media screen and (min-width: 700px) {
    ul{
        text-align: right;
    }

    li {
        display: inline-block;
        border-bottom: 0px;
        border-left: 1px solid black;
        font-size: 50px;
    }

    .game {
        width: 33%;
        display: inline-block;
        vertical-align: top;
    }
}